/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #dee1e3, #6687db);
  color: #333;
  padding: 20px;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #3949ab;
  color: rgb(232, 223, 223);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
}

header h1 {
  
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

 p {
  height: 20px; /* Define a altura para criar espaçamento */
  margin-bottom: 15px; 
}


/* Layout principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



